body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* start of header */

header {
    background-color: #f99523;
    padding: 1rem 2vw;
    border: 1px solid #3e4746;
    border-radius: 2px;
}
header h1 {
    margin: 0;
    color: #3e4746;
}
header p{
    margin: 0;
    color: #3e4746;
    letter-spacing: .75px;
}
/* start of nav bar */
nav {
    background-color: #7bae37;
    border: 1px solid #3e4746;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #3e4746;
    font-weight: 700;
    display: block;
    padding: .75rem 1.5rem;
}
nav li.active a{
    background-color: #3e4746;
    color: #7bae37;
}
nav a:hover{
    color: white;
}

/* main */
main{
    padding: 1rem 2vw
}
main h1{
    color: #f99523;
    background-color: #3e4746;
    margin-right: 80rem;
    text-align: center;
    border: 2px solid #7bae37;
    border-radius: 5px;
}
main h2{
    color: #7bae37;
    margin-bottom: .2rem;
    margin-right: 80rem;
    text-align: center;
    background-color: #3e4746;
    border: 2px solid #f99523;
    border-radius: 5px;
}
main p{
    color: #3e4746;
    margin: 0 0 .3rem 0
}
main ol {
    padding: .5rem 3vw;
    background-color: #efefef;
    border: 1px solid #3e4746;
    border-radius: 5px;
}
main dl dt{
    color: #3e4746;
    font-weight: 700;
}
main dl dd{
    color: #3e4746;
    font-size: .9rem;
}
main a{
    color: #7bae37;
    text-decoration: underline;
}
main ul {
    list-style-type: none;
}
main ul li{
    line-height: 150%;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
main address {
    font-style: normal;
    background-color: #efefef;
    padding: .5rem;
    width: 15rem;
    border: 1px solid #3e4746;
    border-radius: 5px;
}
main a:hover {
    color: blue;
}
figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img{
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
    color:#3e4746;
}
div.kb-gallery {
    display: flex;
    flex-wrap: wrap;
}

div.kb-gallery figure {
    margin: .5rem 2% 0 0;
}

div.kb-gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #3e4746;
}
div.c-gallery {
    display: flex;
    flex-wrap: wrap;
}

div.c-gallery figure {
    margin: .5rem 2% 0 0;
}

div.c-gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #3e4746;
}
.fform label, .fform select, .fform [type=text], .fform [type=tel], .fform textarea, .fform [type=email] {
    display: block;
}
.fform [type=text], .fform [type=tel], .fform [type=email], .fform select, .fform textarea, .fform [type=submit]{
    border: solid 1px #3e4746;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.fform fieldset {
    border: 1px solid #7bae37;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.fform legend {
    color: #7bae37;
    font-size: 1.2rem;
}
.fform label {
    margin: .5rem;
}
.fform textarea {
    height: 10rem;
    width: 50rem;
}
.fform [type=submit] {
    background-color: #f99523;
    border: none;
    padding: 1rem 2rem;
    border-radius: 6px;
    margin: 1rem 0 0 1vw;
    font-size: 1.5rem;
    width: 350px;
}

/* footer */
footer {
    background-color: #3e4746;
    text-align: center;
    color: #7bae37;
    padding: 2rem 0;
    font-size: .8rem;
}
footer a{
    color: #f99523;
}
footer a:hover {
    color: white;
}